<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>三角验证这名字你能信？</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

<%=render 'layouts/header'%>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img"  style="height:200px;width:260px" src="/images/home/mac.jpg">
      <h2>个人电脑</h2>
      <p>下载数字证书，绑定个人电脑</p>
      <p><a class="btn btn-default" href="#">绑定PC »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img"  style="height:200px;width:190px" src="/images/home/iphone.png">
      <h2>移动设备</h2>
      <p>绑定移动终端，验证用户身份</p>
      <p><a class="btn btn-default" data-target="#mobilephone" data-toggle="modal">绑定手机 »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img"  style="height:200px;width:200px" src="/images/home/nfc.png">
      <h2>NFC智能手环</h2>
      <p>绑定NFC设备，辅助移动终端</p>
      <p><a class="btn btn-default" href="#">绑定NFC »</a></p>
    </div>
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="">
    <h2 class="featurette-heading">个人电脑。 <span class="text-muted" style="font-size: 30px">利用数字证书认证</span></h2>
    <p class="lead">利用CA数字证书，确保对个人电脑的唯一性认证。只有用户绑定的电脑才具有合法的用户权限。能有有效确保信息的安全，使得个人电脑成为用户信息安全的重要屏障</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src="">
    <h2 class="featurette-heading">移动终端。 <span class="text-muted" style="font-size: 30px">利用软硬件信息认证</span></h2>
    <p class="lead">利用移动终端软硬件信息，确保只有用户绑定的移动终端才具有合法的用户权限。利用移动终端便携的特点，方便用户使用多种功能，是本系统保护的重点对象。配合其他两角，形成制约，限制并防止其丢失造成的后果</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="">
    <h2 class="featurette-heading">NFC智能手环。 <span class="text-muted" style="font-size: 30px">可穿戴设备形成第二道屏障</span></h2>
    <p class="lead">可穿戴设备作为另一道重要屏障，在移动终端功能使用的同时提供限制。有效防止移动终端丢失或被盗用的情况发生。同时也不失使用的便捷性</p>
  </div>

  <!-- /END THE FEATURETTES -->
  <%=render 'layouts/footer'%>
</div><!-- /.container -->

<%=render 'layouts/modals'%>
	<!-- script references -->

	</body>
</html>