<h1>我的信息</h1>
<h3>个人信息什么的再说吧</h3>
<h3>我的设备</h3>
<li><%= link_to("我的手机", user_mobilephones_index_path)%></li>
<li><%= link_to("我的PC", user_certificates_index_path)%></li>
<li><%= link_to("我的NFC", user_nfcs_index_path)%></li>
