// Place all the styles related to the User::User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab-content{
  border-radius: 5px;
  height:400px;
  margin-top: 20px;
  overflow:auto;
  background-color: #FCFCFC;
}
.sidebar{
  margin-top: 60px;
  margin-left: 60px;
  width:280px;
  height:400px;
  background-color: #FCFCFC;
  border-radius: 0 0 50px 50px;
}
.iconName{
  width:280px;
  height:210px;
  background-color: #347ab6;
  border-radius: 50px 50px 0 0;
  text-align: center;
}
#name{
  color:#ffffff;
  font-size: 25px;
  padding: 30px;
  height: 50px;
}
#icon{
  width:110px;
  height:110px;
  border-radius: 55px;
  border:3px solid #ffffff;
}
.tab-pane{
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 20px;
}
.tab-pane .btn-primary{
  width:100%;
  text-align: left;
  margin-top: 20px;
}
.littleIcon{
  width: 22px;
  height:22px;
  float:left;
  clear:both;
}
.information{
  padding:45px 30px;
}
.info-list{
  width:200px;
  height:30px;
  margin-bottom: 5px;
}
.info-list p{
  float:left;
  font-size: 18px;
  margin-left: 10px;
  color:#515b65;
}
#bindDate{
  color:#347ab6;
}
.detail{
  float:right;
  margin-right: 20px;
  clear:right;
}
#myNav{
  background-color: #f2f1ef;
  border-radius: 5px;
}

