<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" style="height: 500px">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/home/1.jpg" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>对，你没看错，竟然叫三角验证这么土的名字</h1>
          <p></p>
          <p><a class="btn btn-lg btn-primary" style="width:150px">开始体验</a>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/home/2.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>做手机端的是狗</h1>
          <p>这么明显你看不出来吗。。。</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/home/3.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>我看出来了！</h1>
          <p>为何你这么牛逼</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
<!-- /.carousel -->
